<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<div>
  <% if @article.image.attached? %>
  <%= image_tag @article.image, style: "width: 200px; display: block " %>
    <% end %>
</div>
<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
