<%= form_with(model: book, local: false) do |form| %>
  <div class="modal-body">
    <div id="error_area"></div>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :price %>
      <%= form.number_field :price,class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :published %>
      <%= form.date_field :created_at,class: 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary close_modal" data-bs-dismiss="modal">Close</button>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
